.flight-item-container {
  display: flex;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 2px #e6e6e6;
  background-color: #FFFFFF;
  margin-top: 20px;
}

.flight-item-container button {
  width: 100%;
  border: 1px solid #e6ac00;
}

.flight-item-details {
  width: 80%;
  float: left;
}

.flight-item-departure {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.flight-item-arrival {
  display: flex;
  padding: 10px;
}

.flight-item-price {
  width: 20%;
  float: right;
  border-left: 1px solid #e6e6e6;
  text-align: center;
  padding: 10px;
}

.flight-item-price > span:nth-child(1) {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.flight-item-price > span:nth-child(3) {
  font-size: 12px;
}

.flight-direct-time-info {
  font-size: 12px;
}

.flight-direct-time-info span:last-child {
  font-weight: bold;
}

.item-details-order {
  width: 20%;
}

.flight-direct-arrow {
  width: 40%;
  text-align: center;
}

.flight-direct-plain {
  width: 10%;
  text-align: center;
}

.flight-direct-plain img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-top: 10px;
}

.flight-direct-airline {
  width: 10%;
  text-align: center;
}

.flight-time {
  font-weight: bold;
}

.flight-city {
  font-size: 18px;
}

.flight-airport {
  font-size: 12px;
  font-style: italic;
}
